name: databricks-notebook-check

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  databricks-notebook-check:
    runs-on: ubuntu-latest
    environment: dev            # <-- required to access Secrets placed in Environments -> dev
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run smoke notebook on Databricks (AWS/GCP)
        uses: databricks/run-notebook@v0
        with:
          databricks-host: ${{ secrets.DATABRICKS_HOST }}
          databricks-token: ${{ secrets.DATABRICKS_TOKEN }}
          local-notebook-path: notebooks/smoke_test
          git-commit: ${{ github.event.pull_request.head.sha || github.sha }}
          new-cluster-json: >
            {
              "num_workers": 1,
              "spark_version": "11.3.x-scala2.12",
              "node_type_id": "i3.xlarge"
            }
